section{
  margin: 0 2vw 5vh 2vw;
}
li{
  margin-bottom: 2vh;
  list-style-type: square;
}

li::marker{
  padding-right: 10vw;
}

section p{
  margin-left: 1vw;
}

@media(min-width:500px) and (max-width:810px) {
  section p{
    margin-left: 2vw;
  }
}

@media(max-width:500px){
  section p{
    margin-left: 2vw;
  }
  main{
    margin-top:1vh;
  }
}