section{
  margin: 0 2vw 5vh 2vw;
}
li{
  margin-bottom: 2vh;
  list-style-type: square;
}

li::marker{
  padding-right: 10vw;
}

@media(max-width:500px){
  section p{
    font-size: .95rem;
  }
  main{
    margin-top:1vh;
  }
}