.detail-box{
    border: 3px solid rgb(13, 51, 38);
    background-color: aquamarine;
    margin: 0 1vw 5vh 1vw;
    padding: 2%;
    border-radius: 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%
}
#template{
    flex: 0 0 80%;
    font-size: 1.1rem;
    padding: 1%;
    border-radius: 10px;
}
#template:hover{
    background-color: rgb(106, 234, 191);
}
#replace{
    flex: 0 0 20%;
}
.replaced-word{
    font-weight: bold;
}
.empty{
    color:red;
}
#copypasta{
    display:flex;
}

#toast-container{
    position: fixed;
    top:1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 9999;
}

.toast{
    background-color: aquamarine;
    animation: fadeInOut 3s forwards;
    color:black;
    padding: 1rem 1.5rem;
    border: 5px solid rgb(56, 156, 56);
    border-radius: 8px;
    font-family: sans-serif;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
}

@keyframes fadeInOut {
    0%{opacity: 0;transform: translateY(-10px);}
    10% {opacity: 1; transform: translateY(0);}
    90% {opacity: 1;}
    100% {opacity: 0;transform: translateY(-10px);}
}