.detail-box{
    border: 3px solid rgb(13, 51, 38);
    background-color: aquamarine;
    margin: 0 1vw 5vh 1vw;
    padding: 2%;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
}
#template{
    flex: 0 0 80%;
    font-size: 1.1rem;
    padding: 1%;
    border-radius: 10px;
}
#template:hover{
    background-color: rgb(106, 234, 191);
}
#replace{
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
}
.replaced-word{
    font-weight: bold;
}
.empty{
    color:red;
}
#copypasta{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#toast-container{
    position: fixed;
    top:1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 9999;
}

.toast{
    background-color: aquamarine;
    animation: fadeInOut 3s forwards;
    color:black;
    padding: 1rem 1.5rem;
    border: 5px solid rgb(56, 156, 56);
    border-radius: 8px;
    font-family: sans-serif;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
}

@keyframes fadeInOut {
    0%{opacity: 0;transform: translateY(-10px);}
    10% {opacity: 1; transform: translateY(0);}
    90% {opacity: 1;}
    100% {opacity: 0;transform: translateY(-10px);}
}
.copypasta-box{
    overflow: hidden;
}
.copypasta-box > p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.copypasta-box h2{
    text-align: center;
}

.param-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.param-input textarea{
    box-sizing: border-box;
    padding: 0.5rem;
    width: 16vw;
    resize: none;
}

.copypasta-info{
    background-color: aquamarine;
    margin: 1vh 1vw;
    width: 27vw;
    height: 35vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 2vh 1.5vw;
    cursor: pointer;
}
.copypasta-info p{
    color: #6227A5;
}

@media(max-width:700px){
    #copypasta{
        flex-direction: column;
        align-items: center;
    }
    .copypasta-info{
        width: 80vw;
    }
    .detail-box{
        flex-direction: column;
    }
    .param-input textarea{
        width: 100vw;
    }
}
@media (min-width: 500px) and (max-width: 810px) {
    header a {
        width: 100vw;
        text-align: left;
        padding-left: 2vw;
    }
}