.detail-box{
    border: 3px solid rgb(13, 51, 38);
    background-color: aquamarine;
    margin: 0 1vw 5vh 1vw;
    padding: 2%;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
}
#template{
    flex: 0 0 80%;
    font-size: 1.1rem;
    padding: 1%;
    border-radius: 10px;
}
#template:hover{
    background-color: rgb(106, 234, 191);
}
#replace{
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
}
.replaced-word{
    font-weight: bold;
}
.empty{
    color:red;
}
#copypasta{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#toast-container{
    position: fixed;
    top:1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 9999;
}

.toast{
    background-color: aquamarine;
    animation: fadeInOut 3s forwards;
    color:black;
    padding: 1rem 1.5rem;
    border: 5px solid rgb(56, 156, 56);
    border-radius: 8px;
    font-family: sans-serif;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
}

@keyframes fadeInOut {
    0%{opacity: 0;transform: translateY(-10px);}
    10% {opacity: 1; transform: translateY(0);}
    90% {opacity: 1;}
    100% {opacity: 0;transform: translateY(-10px);}
}
.copypasta-box{
    overflow: hidden;
}
.copypasta-box > p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.copypasta-box h2{
    text-align: center;
}

.param-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.param-input textarea{
    box-sizing: border-box;
    padding: 0.5rem;
    width: 16vw;
    resize: none;
}

.copypasta-info{
    background-color: aquamarine;
    margin: 1vh 1vw;
    width: 27vw;
    height: 35vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 2vh 1.5vw;
    cursor: pointer;
}
.copypasta-info p{
    color: #6227A5;
}

hr{
    border:none;
    height:8px;
    color:black;
    background-color: black;
}

#customCopypasta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#new-copypasta{
    border: 10px solid lightgreen;
    text-align: center;
}
#new-copypasta h2{
    font-size: 1.9rem;
}
#new-copypasta p {
    font-size: 1.4rem;
}
#new-copypasta:hover{
    background-color: lightgreen;
    border: 10px solid green;
    /* color: #b7c14e; */
}
#new-copypasta:hover p{
    color: black;
}
/* Dark overlay behind the dialog */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* darker overlay */
  backdrop-filter: blur(4px);
  /*hidden by default*/
  display: none; 
  z-index: 1000;
}
/* Confirmation modal */
#confirmationModalOverlay{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    backdrop-filter: blur(4px);
    display: none;
    z-index:1002;
}
/* The dialog box */
#modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  width: 50vw;
  z-index: 1001;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}
/* Confirmation Modal */
#confirmationModal{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    width: 20vw;
    z-index:1002;
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}
/* Modal inputs */
#modal-dialog input,
#modal-dialog textarea {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  box-sizing: border-box;
}
/* Modal buttons */
#modal-dialog button, #confirmationModal button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}
#modalButton,#confirmationButton{
    text-align: right
}


#modal-dialog h1,#confirmationModal h1{
    text-align: center;
    overflow:auto;
}
#copypastaInputHolder p,#confirmationModal p{
    margin:0;
}
#copypastaInputHolder textarea{
    width: 100%;
    resize: none;
}

#newParameters{
    display: flex;
    flex-direction: row;
    margin-top:1vh;
    flex-wrap: wrap;
}
.new-params{
    border: 1px solid black;
    margin-right:1vw;
    padding: 0.5vh 1vw;
    border-radius: 5px;
    background-color: rgb(234, 237, 240);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2vw;
    margin-bottom: 1vh;
}
.new-params:hover{
    background-color: #fbf6f6;
}

@media(max-width:700px){
    #copypasta{
        flex-direction: column;
        align-items: center;
    }
    .copypasta-info{
        width: 80vw;
    }
    .detail-box{
        flex-direction: column;
    }
    .param-input textarea{
        width: 100vw;
    }
    #customCopypasta{
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 500px) and (max-width: 810px) {
    header a {
        width: 100vw;
        text-align: left;
        padding-left: 2vw;
    }

}
@media (max-width:300px){
    #modalButton, #confirmationButton{
        flex-direction: column;
        text-align: center;
    }
}