table{
    /* border: 1px solid black; */
    padding: 0;
}
td{
    padding:0;
    margin:0;
    width: 3vw;
    height: 3vw;
    border: 2px solid black;
    background-color: rgb(192,192,192);
    text-align: center;
    /* box-shadow: 1.5px 1.5px rgb(128,128,128); */
}

footer{
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
    font-size: 1.5em;
    color:white;
}
#inputSegment{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 100%;
}
label{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

#game{
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:2vh;
}
.open{
    background-color:white;
}

img{
    width: 87%;
    height: 87%;
    pointer-events: none;
    user-select: none;
    user-drag:none;
}

.bomb{
    width:102%;
    height:89%;
}

body{
    background-color: darkgreen;
    color:black;
}

#main{
    display: flex;
    flex-direction: column;
    background-color:green;
    min-width:20%;
    max-width: 100%;
    padding: 4.5vw 4.5vh;
    color:white;
    border: 2px solid white;
    border-radius: 9%;
}

h1{
    color:white;
}

#startButton,#restartButton{
    width:8vw;
    height: 3vh;
    position: relative;
    margin-bottom:3vh;
}

input[type="number"]{
    width:100%;
    margin: 2vh 0 2vh 0;
    height: 3vh;
    font-size: 1.2em;
    text-align:center;
}
label{
    margin:0;
    font-size: 1.2em;
}

#topbar{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width:100%;
}

#timer{
    width:3vw;
    height: 3vw;
}

#containerTimer{
    display: flex;
    flex-direction: row;
    text-align: center;
}
#timeText{
    display:inline;
    font-size: 1.4em;
    margin:1.4vh 0;
}