table{
    /* border: 1px solid black; */
    padding: 0;
}
td{
    padding:0;
    margin:0;
    width: 3vw;
    height: 3vw;
    border: 2px solid black;
    background-color: rgb(192,192,192);
    text-align: center;
    /* box-shadow: 1.5px 1.5px rgb(128,128,128); */
}

.flag{
    /* background-color:blue; */
}
footer{
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
    font-size: 1.5em;
}
#inputSegment{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
}
label{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

#game{
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.open{
    background-color:white;
}

img{
    width: 87%;
    height: 87%;
    pointer-events: none;
    user-select: none;
    user-drag:none;
}

.bomb{
    width:102%;
    height:89%;
}

body{
    background-color: darkgreen;
    color:black;
}