table{
    border: 1px solid black;
}
td{
    width: 3vw;
    height: 3vw;
    border: 1px solid black;
}

.flag{
    background-color:blue;
}
footer{
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
}
#inputSegment{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
}
label{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}
input{
}
#game{
    margin: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splash{
    display: flex;
    flex-direction: column;
    align-items: center;
}