#projTitle{
  font-size: 3.5em;
  text-align: center;
  font-weight:bold;
  color: #4D001A;
}
#tagsList{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 96vw;
  flex-wrap: wrap;
  /* margin-left: 2.5vw; */
}

#work>p{
  font-size: 1.5em;
  text-align: center;
  color: black;
}

.add-tag{
  width: 10vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5vw;
}
.content{
  padding: 2vh 1vw;
}
.add-tag > p{
  margin:0 0;
}

#selectedTags{
  display: flex;
  text-align: left;
  /* width: 95vw; */
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-left: 2.5vw; */
}

.show{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:.5vh .5vw;
  border-radius: 10%;
  gap: .5vw;
  background-color: rgb(229, 236, 247);
}
.project {
    background-color: aquamarine;
    margin: 1vh 1vw;
    width: 28vw;
    /* height: 35vh; */
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    /* padding: 2vh 1vw; */
}
.project p{
    color: #6227A5;
}

.desc{
  /* height: 25vh; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc h2{
    margin-top: 0;
}
.tag-dropdown{
  display: none;
  margin:0;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.tag-dropdown ul{
  list-style-type: none;
  margin:0;
  padding: 0;
}
.tag-dropdown li{
  width: 9.2vw;
  padding: 12px 1vw;
  border: 1px solid black;
  cursor: pointer;
}

#addTagTotal{
  position: relative;
}

#addTagTotal:hover .tag-dropdown{
  display: block;
}
.tag-dropdown li:hover{
  background-color: #ede3e3;
  color:rgb(17, 16, 16);
}

.action-links{
  display: flex;
  flex-direction: row;
}

.action{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.project-date{
  font-weight: bold;
}
.image-viewer{
  text-align: center;
  display: none;
}
.show-image{
  display: block;
  width:100%;
}
.show-image img{
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top;
}
.image-viewer-button{
  cursor: pointer;
  display:none;
}
.full-display{
  /* width: 28vw; */
  /* padding: 3vh 0.5vw 3vh 2.5vw; */
}

@media(max-width:800px){
  .add-tag{
    width: 19vw;
  }
  /* #addTagTotal{
    margin-left: .5vw;
  } */
  .project{
    width: 40vw;
  }
  .full-display{
    width: 40vw;
  }
  .tag-dropdown li{
    width: 18.1vw;
  }
}

@media(max-width:500px){
  #work{
    flex-direction: column;
    align-items: center;;
  }
  #tagsList{
    margin-left: 2.5vw;
  }
  .project{
    width: 90vw;
  }
  .full-display{
    width: 90vw;
  }
}
@media(max-width:450px){
  .add-tag{
    width: 25vw;
  }
  .tag-dropdown li{
    width: 24.2vw;
  }
}