#projTitle{
  font-size: 3.5em;
  text-align: center;
  font-weight:bold;
  color: black;
}
#tagsList{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#work>p{
  font-size: 1.5em;
  text-align: center;
  color: black;
}