#sortOptions{
  display: none;
  margin:0;
  position: absolute;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#sortFilter:hover #sortOptions{
  display: block;
}
#sortFilter{
  /* width: 96vw; */
  margin-right: 1.3vw;
  margin-top: 1vh;

}
#sortButton{
  width: 11.6vw;
}
#sortOptions{
  list-style-type: none;
  padding-inline-start: 0;
  text-align: center;
}
.sort-option{
  width: 10.8vw;
  margin:0;
  padding: 12px 1vw;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid black;
  z-index: 1;
  cursor: pointer;
}
.sort-option:hover{
  background-color: #ede3e3;
  color:rgb(17, 16, 16);
}

#sortContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
}

@media (min-width: 700px) and (max-width: 810px){
  #sortButton{
    width: 14vw;
  }
  .sort-option{
    width: 13.2vw;
  }
}

@media (min-width: 600px) and (max-width: 700px){
  #sortButton{
    width: 16vw;
    margin-right: 1.1vw;
  }
  .sort-option{
    width: 15.2vw;
  }
}
@media (min-width: 500px) and (max-width: 600px){
  #sortButton{
    width: 18.7vw;
    margin-right: 1.2vw;
  }
  .sort-option{
    width: 17.9vw;
  }
}
@media (min-width: 400px) and (max-width: 500px){
  #sortButton{
    width: 23.4vw;
    margin-right: 2.8vw;
  }
  .sort-option{
    width: 22.6vw;
  }  
}
@media (max-width: 400px){
  #sortButton{
    width: 30.7vw;
    margin-right: 3vw;
  }
  .sort-option{
    width: 29.9vw;
  }  
}